NODE_ENV=rtshny
PORT=rtshny
DATABASE=rtshny
JWT_SECRET=rtshny
JWT_EXPIRES_IN=rtshny
JWT_COOKIE_EXPIRES_IN=rtshny

CLOUDINARY_CLOUD_NAME=rtshny
CLOUDINARY_API_KEY=rtshny
CLOUDINARY_API_SECRET=rtshny

S3_ENDPOINT=rtshny
S3_BUCKET_NAME=rtshny
S3_ACCESS_KEY=rtshny
S3_SECRET_KEY=rtshny

